{% extends '_default/page.html.twig' %}

        {%- block content ~%}
        {#- Left Col ~#}
        <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
          <h1 class="my-4 text-3xl md:text-5xl font-bold leading-tight text-center md:text-left slide-in-bottom-h1">{{ site.baseline }}</h1>
          <div class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">{{ page.content }}</div>
          <div class="flex w-full justify-center md:justify-start fade-in">
            {%- for button in site.applanding.buttons ~%}
            <a href="{{ button.url }}"><img src="{{ button.image }}" class="h-12 bounce-top-icons{% if not loop.last %} pr-4{% endif %}" alt="{{ button.name }} button"></a>
            {%- endfor ~%}
          </div>
          <p class="text-center md:text-left fade-in">Source code on <a class="font-bold" href="{{ site.applanding.source }}">GitHub</a></p>
        </div>
        {#- Right Col ~#}
        <div class="w-full xl:w-3/5 py-6 xl:py-0 overflow-y-hidden">
          <a href="{{ site.applanding.demo }}" title="Go to the demo">
            {% if site.applanding.screenshot.mobile.light is defined %}
              {% set mobile = asset(site.applanding.screenshot.mobile.light) %}
              {% set mobile_dark = asset(site.applanding.screenshot.mobile.dark|default(site.applanding.screenshot.mobile.light)) %}
            <picture class="md:hidden">
              <source srcset="{{ mobile_dark|url }}" media="(prefers-color-scheme: dark)">
                <img src="{{ mobile|url }}" width="{{ mobile.width }}" height="{{ mobile.height }}" alt="Screenshot" class="w-5/6 mx-auto lg:mr-0 slide-in-bottom">
            </picture>
            {% endif %}
            {% set desktop = asset(site.applanding.screenshot.desktop.light|default(site.applanding.screenshot)) %}
            {% set desktop_dark = asset(site.applanding.screenshot.desktop.dark|default(site.applanding.screenshot.desktop.light|default(site.applanding.screenshot))) %}
            <picture class="{% if site.applanding.screenshot.mobile.light is defined %}hidden {% endif %}md:block">
              <source srcset="{{ desktop_dark|url }}" media="(prefers-color-scheme: dark)">
                <img src="{{ desktop|url }}" width="{{ desktop.width }}" height="{{ desktop.height }}" alt="Screenshot" class="w-5/6 mx-auto lg:mr-0 slide-in-bottom">
            </picture>
          </a>
        </div>
        {%- endblock ~%}
